
<footer>
<div class="navbar-fixed-bottom footer">
    <ul class="nav nav-tabs">
      <li><a href="#"><span class="fa fa-star"></span></br>Favorites</a></li>
      <li><a href="/newpost"><span class="fa fa-file"></span></br>New Post</a></li>
      <li><a href="/home"><span class="fa fa-home"></span></br>Home</a></li>
      <li><a href="#"><span class="fa fa-envelope"></span></br>Mail</a></li>
      <li><a href="/settings"><span class="fa fa-gear"></span></br>Settings</a></li>
    </ul>
</div>
</footer>