{{> nav_bar}}
<section class="w-container heading">
  <div class="maintext"><strong>HOME</strong>
  </div>
</section>
<div>
    <img src="/images/user_icon.jpg" style="display:block;margin: 15 auto 0 auto;" alt="52f2df37593f6edf41000431_user_icon.jpg">
</div>
<div class="navsection">
  <a class="button" href="/jobs">FIND JOBS</a>
  <a class="button" href="/profile">PROFILE</a>
  <a href="#"></a>
</div>
<!--! Comment block 
<div class="w-form">
  <form class="searchusers" name="email-form" data-name="Email Form">
    <input class="w-input searchtext" type="text" placeholder="search for people and employers" name="search" required="required" data-name="search" autofocus="autofocus"></input>
  </form>
  </div>
   End Comment block
__-->
  <div class="w-form-done">
    <p>Thank you! Your submission has been received!</p>
  </div>
  <div class="w-form-fail">
    <p>Oops! Something went wrong while submitting the form :(</p>
  </div>
</div>