<!doctype html>

<html>
<head>
	<title>Triton Trade</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
       <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

  {{> nav_bar}}
<!-- 
<div class="form-inline">
        <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
<<<<<<< HEAD
</div> -->

<body>
  <div>
      <br>
      <center>
      <div class="row" style="vertical-alignment: center; text-alignment: center; margin-top: 100px;">
        <div class="col-md-4">
          <form action="/buyers">
          <input id="buy-btn" type="submit" value="BUYERS">
          </form>
        </div>

        <div class="col-md-4">
          <form action="/sellers" >
            <input id="sell-btn" type="submit" value="SELLERS">
          </form>
        </div>
      
        <div class="col-md-4">
          <form action="/free" >
            <input id="free-btn" type="submit" value="FREE">
          </form>
        </div>
      </div>
  </center>
  </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

</div>
<div class="feed_bcg">
    {{#each feed.data}}
     <div class="feed_bcg2">
         <br>
         <img src="{{picture}}">
                  {{message}} 
         <br>
     </div>
    {{/each}}                   
</div>
    
<!-- Button trigger modal -->

</body>
</html>

