{{> nav_bar}}

<form class="form-inline">
                  <input type="text" name="search" title="Search" class="search-input" 
    value="Search" onfocus="inputFocus(this)" onblur="inputBlur(this)" /></input>
                  <button type="submit" class="btn"><img src="/images/search_small2.png"></button>
                </form>
<h1> There's no need to put any head or body in handlebars - the template is under views > layouts > main.handlebars </h1>
