
	<div class="text-center">
      <h1> TRITON TRADE </h1>
      <form action="/auth/facebook">
       <input id="facebook-login-btn" type="submit" value="LOGIN WITH FACEBOOK">
      </form>
    </div>