/* custom css */

.form-inline {
	margin-left:100px;
	margin-right:100px;
}

body {
    background: url("../images/star_background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.glyphicon{
    font-size: 20px;
}

.feed_bcg {
	background-color:white;
	width:76%;
	height:100%;
	margin:0 auto;
	border: 2px white solid;
	border-radius:10px;
	margin-top:50px;
}

.feed_bcg2 {
	background-color:#C2FF85;
	width:60%;
	height:60%;
	margin:0 auto;
	border: 2px #C2FF85 solid;
	border-radius:10px;
	margin-top:50px;
}