/* custom css */

.form-inline {
	margin-left:100px;
	margin-right:100px;
}

body {
    background: url("../images/star_background.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.glyphicon{
    font-size: 20px;
}